@font-face{
  font-family: cs quipster drawn;
  src: url('../cs-quipster-drawn-font/CsquipsterdrawnRegularDemo-rvVZL.otf');

}

@font-face{
  font-family: sunflower;
  src: url('../sunflower-3-font/Sunflower-xRgDm.otf');
}

html {
  background-image:url('../images/forestPath.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 170%;
  background-color: rgba(240, 248, 255, 0.157);
  margin: 0%;
}

header{
  background-color: rgba(19, 40, 12, 0.485);
  height: 60%;
  display: grid;
}

/*Grading Criteria #4*/
nav {
  display: inline-block;
  width: 80%;
  background-color: #ffffff;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 4em;
  width: 90%;
  text-align: center;
  background-color: #ffffff;
  margin: 0em;
  list-style-type: none;
}

/* Grading Criteria #3 */
/* nav ul li{
  display: inline-block;
  height: 50%;
  width: 25%;
  position: relative;
  left: 5%;
  top: 30%;
  font-family: cs quipster drawn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 150%;
  margin-right: 5%;
  text-align: center;
} */

nav ul li a{
  text-decoration: none;
  color: black;
  font-weight:900;
  font-size: 150%;
}

nav ul li a[href$=".html"] {
  font-family: cs quipster drawn;
}

nav ul li a.current{
  border: 3px dotted black;
  font-style: italic;
  border-radius: 20%;
  font-family: temporal hidden;
}

nav ul li a:hover {
  text-shadow: gray 1px 5px 6px;
}

button#skip-button {
  border-radius: 30px;
  padding: 2%;
  font-size: 50%;
  background-color: #ffffff;
  border: 2px solid rgb(87, 87, 87);
}

button#skip-button:hover {
  background-color: #607c06;
}

button#skip-button>a {
  text-decoration: none;
}

button#skip-button>a:active, button#skip-button>a:visited {
  color: #607c06;
}

button#skip-button>a:hover {
  color: #ffffff;
}

header div#decorativeBar {
  position: relative;
  background-image: linear-gradient(to right, #607c06,beige,#607c06);
  width: 80%;
  height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header h1 {
  text-align: center;
  font-family: cs quipster drawn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 500%;
  text-shadow: #ffffff 0.1em 0.1em 0.5em;
  width: 70%;
  margin: 5%;
}

nav div#header1-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Grading Criteria #5*/
nav figure#baconSitting {
  width: 10%;
}

nav figure#baconSitting>img {
  border-radius: 30%;
} 

header nav > div{
  display: flex;
  justify-content: center;
}

main {
  background-color: #ffffff;
  font-size: 120%;
} 

/* For styling the Home page */
main p{
  position: relative;
  left: 23%;
  line-height: 2em;
  width: 40%;
  float: left;
  background-color: #fff;
  border-radius: 80px;
  padding: 2%;
  margin: 5%;
}

/* For styling the Home page */
p a {
  font-family: cs quipster drawn, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

/* For styling the Neighborhood Walks & Parks pages */
div#image-collection {
  background-color: #ffffff;
}

/* For styling the Neighborhood Walks & Parks pages */
div#image-collection>img {
  border-radius: 20%;
  box-shadow:gray 0.5em 0em 1em 0.3em ;
}

/*Grading Criteria #6 & #8*/
/* For styling just the Neighborhood Walks page */
div#image-collection.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1%;
  overflow: auto;
}

/*Grading Criteria #7*/
/* For styling just the Neighborhood Walks page*/
div#image-collection.grid>img {
  width: 100%;
  margin: 2%;
}

/*Grading Criteria #8 & #9 Pt.1*/
/* For stlyling just the Michigan Parks page*/
div#image-collection.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1em;
  column-gap: 1em;
}

/*Grading Criteria #8 & #9 Pt.2*/
div#image-collection.flex>img {
  width: 20%;
  margin: 1em;
}

footer {
	background-color: #d0d0d095;
	display: flex;
	width: 100%;
}

footer p {
  position: relative;
  left: 10%;
  width: 80%;
  text-align: center;
  line-height: 2em;
} 
